<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

<meta charset="UTF-8"/>

<title>Ny Pizzeria Denver</title>

<meta name="description" content="Onepage Multipurpose Bootstrap HTML Site">

<meta name="author" content="Max Mahlke">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" type="text/css" media="screen" href="assets/bootstrap.css">
<link rel="stylesheet" href="assets/font-awesome.css">
<link rel="stylesheet" href="assets/animate.css">
<link rel="stylesheet" href="assets/theme.css">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900,300" rel="stylesheet" type="text/css">


</head>
<body>
<!--wrapper start-->
<div class="wrapper" id="wrapper">
	
	<!--header-->
	<header>
	<div class="row">

		<div class="parallax text-center" style="background-image: url(assets/banner.jpg);">

			<div class="parallax-pattern-overlay">

				<div class="container text-center" id="header-container">
					
					<h2 class="intro wow zoomIn" wow-data-delay="0.4s" wow-data-duration="0.9s">

					<span id="denver">Denver's Best</span>
					<div class="spacing"></div>
					<p><span id="new">New York</span> Style <span style='color:yellow;'>Pizzeria!</p>
					<div class="spacing"></div>

					<button id="line" class="btn btn-default btn-large">Order Now!</button>

				</div>
			</div>
		</div>
	</div>	
	


	<nav class="navbar navbar-default navbar-fixed-top">
		
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
		        </button>
		        <a href="navbar-brand">
		        	<img  style="height:65px;" src="assets/NYLogo.png">
		        </a>



			</div>
			<div class="navbar-collapse collapse in" id="bs-example-navbar-collapse1" aria-expanded="true">
				
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a href="#wrapper">Home</a></li>
					</li>
					<li class="page-scroll">
						<a href="#aboutus">About Us</a>
					</li>
					<li class="page-scroll">
						<a href="#specialties">Menu</a></li>
					</li>
					<li class="page-scroll">
						<a href="#gallery">Order Online</a></li>
					<li class="page-scroll">
						<a href="#feedback">Reviews</a></li>
					</li>
					<li class="page-scroll">
						<a href="#contact">Email Club</a>
					</li>

				</ul>



			</div>
		</div>
	</nav>






	</header>

	<section class="important">
		<h3 class="adress">600 S. Holly St.</h3>
		<h3 class="phone-text"><span class="phone-button">(303)-316-7353</span></h3>


		<!--about us-->
		<h3 class="header-text"><a href="https://www.ehungry.com/" class="btn btn-success btn-lg">Click Here To Order Online</a></h3>		

		<h3 class="header-text">
			<%= link_to pages_menu_path, :target => "_blank", class: "btn btn-danger btn-lg" do %>
				    <i>See Our Menu</i>
			<% end %>
		</h3>
	</section>


	<section class="aboutus" id="aboutus">
	<div class="container">
		<div class="heading text-center">
			<img class="dividerline" src="assets/sep.png" alt="">
			<h2>About Us</h2>
			<img class="dividerline" src="assets/sep.png" alt="">
			<br>
			<h3>	We specialize in baking a traditional New York style pizza, with a thin (but not a cracker) crust - a slice of our pizza is meant to be folded in half lengthwise and eaten New York style. Add our slightly sweet and spicy pizza sauce, our own spacial blend of top quality Mozarella and Provolone Cheese, and your choice of fresh toppings, and you have a combination that will have you falling in love with pizza all over again. <br><br> Why should you eat here instead of a cheap franchise pizzeria? Well for starters we have all freshly cut, and homemade ingredients for almost all of our meals. We prepare our own dough, sauce, and cheese every day of the week. All of our crusts are hand tossed when you place your order, and each pizza is baked in an old fashioned, stone deck oven. We strongly feel that this traditional way of making pizza allows us to cook your pizza just the way you want it. Ask us to make you a crispy pie. Or You could ask us to make you a soft pizza. Want the crust crispy, but the toppings juicy, and a little soggy? Our cooks got you.</h3>
			<br>
			<br>
		</div>	
		<br>		

		

	<div class="main container">


		<script>

        jQuery(document).ready(function ($) {
            
            var jssor_1_SlideoTransitions = [
              [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
              [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
              [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
              [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
              [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
              [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
            ];
            
            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };
            
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

    <style>
        
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('assets/img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('assets/img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
    </style>


    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('assets/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="assets/img/red.jpg" />
                <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #ffffff; line-height: 60px;">TOUCH SWIPE SLIDER</div>
                <div style="position: absolute; top: 300px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">Build your slider with anything, includes image, content, text, html, photo, picture</div>
                <div data-u="caption" data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
                   
                   
                </div>
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="assets/img/purple.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="assets/img/blue.jpg" />
            </div>
            <a data-u="ad" href="http://www.jssor.com" style="display:none">jQuery Slider</a>
        
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>
    </div>



    	<br>
    	<br>
		<br>		
		<br>		
		<br>		
		 <div class="row">
			<div class="col-md-6">
				<div class="papers text-center">
					<img src="https://wowthemes.net/demo/leroy/img/dummies/18.jpg" alt=""><br/>
					<h4 class="notopmarg nobotmarg">Stone Deck Ovens</h4>
					<p>
						This is probably where we take the most pride in our pizzeria. The Old Fashioned Stone Deck Ovens are a beauty to behold,
						and its one of the huge things that seperates us from any other pizzeria. Most places ditched these ovens, when they realized 
						they could make more pizzas faster, with conveyor ovens. We always believe in quality over quantity, and most people MUCH prefer the taste and variety of a Stone Deck Oven.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="papers text-center">
					<img src="https://wowthemes.net/demo/leroy/img/dummies/19.jpg" alt=""><br/>
					<h4 class="notopmarg nobotmarg">Hand Stretched Dough</h4>
					<p>
						When you come in, you will immediately be able to see the process involved in making your food! 
						We hand-prepare everything right up front, for all the world to see. This way you get to see
						all the hard-work, and love our  employees put into every meal they make.
						You may even get to see the all coveted dough toss! Doughtoss not guatanteed: Getting flour in your eyes is not always fun!

				</div>
			</div>
		</div>
	</div>
	</section>
	
	<!--specialties-->
	<section class="specialties" id="specialties">
	<div class="container">
		<div class="heading text-center">
			<img class="dividerline" src="assets/sep.png" alt="">
			<h2>Our Specialties</h2>
			<img class="dividerline" src="assets/sep.png" alt="">
			<h3>
			<p>
			These are just a selection of our favorite specialty dishes and pizzas.
			</p>
			<p>
			To see our full menu click here:&nbsp;&nbsp;&nbsp;

 						<%= link_to pages_menu_path, :target => "_blank", class: "btn btn-danger btn-md" do %>
						    <i>Full Menu</i>
						<% end %></p>

			<p>We strongly recomend you give one of these dishes a shot next time you order!</p>
			</h3>

		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="restmenuwrap">
					<h3 class="maincat notopmarg text-center">APPETIZERS</h3>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Hot Wings</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Garlic Knots</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Cheese Bread</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="restmenuwrap">
					<h3 class="maincat notopmarg text-center">PIZZA</h3>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Super Combo</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>The Bronx</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>BBQ Chicken</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Long Island</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="restmenuwrap">
					<h3 class="maincat notopmarg text-center">DESSERTS</h3>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Canolli</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Dessert Breadsticks</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>
					<div class="restitem clearfix">
						<div class="rm-thumb" style="background-image: url(assets/food/sample.gif)">
						</div>
						<h5>Dessert Knots</h5>
						<p>
							Pepperoni, mozzarella cheese and Italian seasonings are rolled together, baked to delicious perfection, then cut into bite-sized delights. Your guests will beg for the recipe!"
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
	</section>
	
	<!--gallery-->
	<section class="parallax gallery" id="gallery" style="background-image: url(assets/banner2.jpg);">
 	  <div class="parallax-pattern-overlay">

		<div id="order-container" class="container">
			<div class="text-center">
				<h2 class="title">Order Online</h2>
			</div>
				<p id="white" class="body-text">If you experience any problems with online ordering you may have to call: (303)-316-7353</p><br>
				<h3 id="white-head" class="body-text">We suggest you order through:&nbsp;&nbsp;<a id="btn" class="btn btn-danger btn-lg
" href="https://www.ehungry.com/">EHungry.com</a></h3><br>
				<br>
				<br>
			</div>
		</div>	
	</section>

	<section id="location-section">

		<div class="container text-center">

			<div class="heading">
				<img class="dividerline" src="assets/sep.png" alt="">
				<h2>Location</h2>
				<img class="dividerline" src="assets/sep.png" alt="">
				<p>We are located in the shopping center on leetsdale and holly.</p>
				<p>Adress: 600 South Holly St.</p>
				<p>LOOK FOR:  I <3 NY PIZZA SIGN!!</p>
				<br>
				


			<!--
				google map info
						-->
					<div class="map_container">

							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3069.490135622409!2d-104.9236656!3d39.7061664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x4ef6821f369a78c3!2sNew+York+Pizzeria!5e0!3m2!1sen!2sus!4v1455917721821" width="750" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
		
			</div>
		</div>

	</section>				
	<!--feedback-->
	<section class="feedback" id="feedback">
	<div class="container w960">
		<div class="heading">
			<img class="dividerline" src="assets/sep.png" alt="">
			<h2>Customers Say</h2>
			<img class="dividerline" src="assets/sep.png" alt="">
			<h3>Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.<br>
			 Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.</h3>
		</div>
		<div class="row">
		<blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages." <cite>Jogn De, Birthday Event<br/></blockquote>
		<blockquote>We specialize in baking a traditional New York style pizza, with a thin (but not a cracker) crust - a slice of our pizza is meant to be folded in half lengthwise and eaten much lika a taco. Add our slightly sweet and spicy pizza sauce, our own spacial blend of top quality Mozarella and Provolone Cheese, and your choice of savory toppings, and you have a combination that will have you falling in love with pizza all over again. <br> At New York Pizza, we constantly strive to combine what you'd find inn a major franchis with the quality of product that is found in a mom and pop pizzeria. We prepare our own dough, sauce, and cheese every day of the week. All of our crusts are hand tossed when you place your order, and each pizza is baked in an onld fashioned, stone deck oven. We strongly feel that this traditional way of making pizza allows us to cook your pizza just the way you want it. Ask us to make you a crispy pie. Or You could ask us to make you a soft pizza. Want the crust crispy, but the toppings juicy, and a little soggy? We got you.<cite>Marta Kay, Business Cocktalil<br/></blockquote>
		</div>
	</div>
	</section>
	
	<!--feedback-->
	<section class="contact" id="contact">
	<div class="container">
		<div class="heading">
				<img class="dividerline" src="assets/sep.png" alt="">
				<h2>Join Our Email Club!</h2>
				<img class="dividerline" src="assets/sep.png" alt="">
				<h3>We have tons of monthly sales, random events, and deals for all email club members! Get in on these savings!<br>
				You can sign up below.<br>
				I promise we won't spam your inbox to oblivion. We hate when people do that.</h3>
		</div>
	</div>
	 <div class="container w960">
      <div class="row">
		<div class="done">
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Your message has been sent. Thank you!
			</div>
		</div>
       <form method="post" action="mailers/contact.php" id="contactform">
          <input name="name" type="text" class="contact col-md-6" placeholder="Your Name *" >
          <input name="email" type="email" class="contact noMarr col-md-6" placeholder="E-mail address *" >
          <textarea name="comment" class="contact col-md-12" placeholder="Message *"></textarea>
          <input type="submit" id="submit" class="contact submit" value="Send message">
        </form>
      </div>
    </div>
	</section>
  
	<!--footer-->
	<section class="footer" id="footer">
	<p class="text-center">
		<a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
	</p>
	<div class="container">
		<ul>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#"><i class="fa fa-flickr"></i></a></li>
		</ul>
		<p>
			&copy; 2015 Copyright Your Website<br>
			 Theme by <a href="https://www.wowthemes.net">WowThemes.Net</a>
		</p>
	</div>
	</section>
	
</div><!--wrapper end-->


<!-- Google API -->


<!--Javascripts-->
<script src="assets/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/Modernizr.js"></script>
<script src="assets/bootstrap.js"></script>
<script src="assets/parallax.js"></script>
<script src="assets/easing.js"></script>
<script src="assets/wow.js"></script>
<script src="assets/smoothscroll.js"></script>
<script src="assets/masonry.js"></script>
<script src="assets/imgloaded.js"></script>
<script src="assets/classie.js"></script>
<script src="assets/colorfinder.js"></script>
<script src="assets/common.js"></script>
<script type="text/javascript" src="assets/jssor.slider.mini.js"></script>





</body>
</html>