<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<head>
  <title>New York Pizzeria Menu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #DEDEDE;">
<h1 style="padding-left:10px;">Our Menu</h1><h3 style="padding-left: 10px;"><a href="#">Back</a></h3>

<div style="border: 10px solid black;background-color:white;">

<img style="margin-right:auto;margin-left:auto;display:block;height:80%;width:80%;" src="/assets/Menu.png">

</div>
<br>
<br>

</body>
</html>
